/* Containers */

.container{
    max-width: 1136px;
    margin: 0 auto;
    padding: 0 10px;
}

.container-bg{
    max-width: 1364px;
    margin: 0 auto;
    padding: 0 10px 0 124px;
}
/* Buttons */
.button{
    background: #5B6460;
    font-family: 'DIN';
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    transition: .4s;
    outline: none;
    border: none;
}
.button:hover{
    background: #808E88;
}

.intro__btn{
    font-family: DIN;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    display: block;
    width: 180px;
    text-align: center;
    padding: 14px 0;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0.7px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
    opacity: .7;
    position: relative;
    transition: all .4s ease;
}
.intro__btn span{
    position: relative;
    z-index: 29;
}
.intro__btn:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    transition: all .45s;
  }
  
.intro__btn:hover{
    color: #8b7e7e;
    opacity: 1;
    border-radius: 4px;
    box-shadow: gray 0px 25px 50px -12px;
  }
  
.intro__btn:hover:after{
    width: 100%;
  }

/* Titles */
.title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 72px;    
    text-align: center;
    color: #FFFFFF;
}
.menu__link_active{
    color: #db0000;
}
.section-title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    color: #5B6460; 
    margin-bottom: 50px;
}
.section-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

/* Social */
.social{
    width: 236px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social__item{
    width: 50px;
    height: 50px;
    background: #5B6460;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s ease;
}
.instagram:hover{
    background-color: rgb(219, 47, 76);
}

.facebook:hover{
    background-color: rgb(65, 65, 205);
}

.twitter:hover{
    background-color: rgb(30, 166, 175);
}

/* Tabs and SLider */
.section-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 223px;
}
.tab-menu{
    display: flex;
    margin-bottom: 48px;
}
.tab-menu__item{
    margin-right: 24px;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #5B6460;    
    cursor: pointer;
}
.tab-menu__item:last-child{
    margin-right: 0;
}
.tab__item-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    max-width: 430px;
    color: #333333;
    max-height: 243px;
    overflow-y: auto;
}
.hut-slider__img{
    max-width: 100%;
    object-fit: cover;
    height: 30vh;
}
.section-slider{
    position: relative;
}

.section-tab{
    padding-left: 100px;
    padding-top: 67px;
}
.section-slider .slick-arrow.slick-disabled{
    opacity: 0.5;
    cursor: auto;
}
.section-slider .slick-arrow
{
    position: absolute;
    bottom: -52px;
    z-index: 10;
    font-size: 0;
    border: none;
    width: 35px;
    height: 15px;
}
 
.section-slider .slick-arrow.slick-prev
{
    left: 0;
    background: url('../images/icon/black-arrow.svg') 0 0/ 100% no-repeat;
    transform: rotate(-180deg);
   
}
 
.section-slider .slick-arrow.slick-next
{
    bottom: -50px;
    left: 78px;
    background: url('../images/icon/black-arrow.svg') 0 0/ 100% no-repeat;
}

/* Progressive */
.slider__progressive-bar{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -50px;
    right: 10px;  
}
.progressive-bar{
    background: #DCDCDC;
    height: 2px;
    width: 88px;
    margin: 0 6px;
}
.bar{
    height: 2px;
    width: 20%;
    background-color: #333333;
}
.counter-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;
    color: #333333;
}

.slider__overlay{
    position: absolute;
    transition: all .4s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333333;
    opacity: 0.7;
    z-index: 4;
}
.intro-title{
    position: absolute;
    top: 67px;
    z-index: 56;
    width: 387px;
    text-align: center;
    left: calc(50% - 179px);
    text-align: center;
}

/* tabs */
.tab1, .tab2, .tab3, .tab4{
    transition: all .4s ease;
}
.tab1__active, .tab2__active, .tab3__active, .tab4__active{
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #111312;
}

.tab1:hover, .tab2:hover, .tab3:hover, .tab4:hover{
    color: #111312;
}